In [6]:
# 1. program to convert kilometers to miles
x=int(input("Enter the Kilometers:"))
t=x*0.62137
print("Miles = ",t)

Enter the Kilometers:123
Miles =  76.42851

In [12]:
# 2. program to convert celcius to farenheit  
c=float(input("Enter the celcius:"))
fh=c*1.8 + 32
print("The farenheit is",fh)

Enter the celcius:37
The farenheit is 98.60000000000001

In [25]:
# 3. program to display calendar
import calendar 
month=int(input( "Enter the month:"))
year =int(input("Enter the year:"))
print(calendar.month(year , month))

Enter the month:11
Enter the year:2021
   November 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [21]:
# 4. program to solve quadratic equation 
import cmath
a=int(input("Enter a:"))
b=int(input("Enter b:"))
c=int(input("Enter c:"))
d = (b**2) - (4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print("The quadratic equation solution of {0} and {1}".format(sol1,sol2))

Enter a:1
Enter b:5
Enter c:6
The quadratic equation solution of (-3+0j) and (-2+0j)

In [24]:
# 5. program to swap two variables without  temp variable 
p=int(input("Enter the no1 :"))
y=int(input("Enter the no2 :"))
print("Before swapping: ")
print(p,y)
p = p + y
y = p - y
p = p - y
print("After swapping: ")
print(p,y)

Enter the no1 :1
Enter the no2 :8
Before swapping:
1 8
After swapping:
8 1